.jumbotron{
	padding-top: 5rem;
	background-color: #808080;
}

#projects{
	background-color: #808080;
}

.main-header{
	font-size: 2.5rem;
	font-weight: bold;
	color: var(--clr-dark);
}

.txt{
	font-size: 2.5rem;
	font-weight: bold;
}

@media(min-width: 576px){
	.main-header{
		font-size: 4rem;
	}
}

.my-photo{
	object-fit: cover;
	width: 100%;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

section{
	padding-top: 5rem;
}
